doctype html
html(lang='en')
  head
  body
    div
      span Unfriend
      input(type="text" id="unfriendlisttxt")
      button(id="unfriendlistbtn") Search
      #unfriendlist
    div
      span block
      input(type="text" id="blocklisttxt")
      button(id="unblocklistbtn") Search
      #blocklist
    div
      span Unblocklist
      #unblocklist
    script(src='/js/setting.js', type='text/javascript')